:root {
    --main-color: #1AE5BE;
    --background: #0E1D27;
    --background-2: #0B171F; //Nav Background
    --white: #fff;
    --black: #000;
    --background-grid: linear-gradient(90deg, #0E1D27 0%, #0D5779 207.6%);
    --transition: all .2s linear;
}