.groups {
    margin-bottom: 5rem;
    background: url('../imgaes/Blue-circles.png') no-repeat,
        url('../imgaes/circle-shapes.png') no-repeat, url('../imgaes/Green-Circles.png') no-repeat,url('../imgaes/circle-shapes.png') no-repeat,url('../imgaes/Blue-circles.png') no-repeat, url('../imgaes/circle-shapes.png') no-repeat;
    background-position-y: 3%, 23%, 40%,60%,80%,100%;
    
    .container {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
        row-gap: 2rem;

        .box {
            width: 385px;
            background: #FFFFFF;
            box-shadow: 3px 3px 15px rgba(14, 29, 39, 0.2);
            border-radius: 6px;
            overflow: hidden;
            margin: 0 auto;
            position: relative;
            padding-bottom: 2rem;

            .img {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .text {
                padding: 1rem 1rem 2rem;
                text-align: left;

                a {
                    color: var(--black);

                    h3 {
                        font-size: 1.75rem;
                        margin-bottom: 1rem;
                    }

                    &:hover {
                        color: var(--main-color);
                    }
                }

                p {
                    font-size: 1.1rem;
                    color: rgba(14, 29, 39, 0.6);
                    margin-bottom: 2rem;
                    // height: 120px;
                }

            }

            .readMap {
                background: linear-gradient(180deg, #083863 0%, #0E1D27 100%);
                box-shadow: 3px 3px 10px rgba(14, 29, 39, 0.2);
                border-radius: 6px;
                color: var(--white);
                padding: .5rem 1rem;
                position: absolute;
                bottom: 2rem;
                left: 1rem;
            }
        }
    }
}

@media (max-width:450px) {
    .groups {
        .container {
            grid-template-columns: 1fr;
            width: 100%;
            padding: 0;

            .box {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}